/* CSS Document */

body {
	/* margin: 0 200px;
	 background-image: url("img/coffee.jpg"); */
/*	margin: 0 10%;*/
}

header, footer {
	height: 70px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

header {
	background-color: yellow;
	padding-top: 25px;
	font-size: 40px;
	text-align: center;
	text-transform: capitalize;
	vertical-align: middle;
}
nav ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	}

nav li {
	  float: left;
	}

nav li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	/* Change the link color to #111 (black) on hover */
nav li a:hover {
	  background-color: yellow;
	}


main {
	height: auto;
	background-color: orange;
}
section { 
	background-color: lightgreen;
	height: 500px;
}
.section1 {
	float: left;
	width: 75%;
}
.s1r1 {
	background-color: blue;
	height: 50%;
}
.s1r2 {
	background-color: lightblue;
	height: 50%;
}
aside { 
	float: left;
	background-color: orangered;
	/* width: 125px; */
	width: 25%;
	height: 50%;
}
.rTop {
	background-color: pink;
}
.rBottom {
	background-color: darkgoldenrod;
}

footer {
	background-color: blue;
}

/* dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;