/* CSS Document */
body {
	margin: 0% 7%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'PT Sans Narrow', sans-serif;
}
header {
	height: 500px;
	background-image: url("img/header2.jpg");
	background-size:cover;
	
}
footer {
	float: left;
	width: 100%;
	height: 200px;
	background-color: darkolivegreen;
}
.logo{
	padding: 10px 30px;
}

main {
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'PT Sans Narrow', sans-serif;
	width: 100%;
	margin-bottom: 20px 0;
}
section {
	
}
article {
	float: left;
}
.row1, .row2, .row3 {
	float: left;
	width: 100%;
}

.cards {
	float: left;
	border: 1px solid black;
	width: 50%;
}

.col-left{
	float: left;
	width: 60%;
}
.col-right {
	float: right;
	width: 40%;
}

.img1{

}

aside {
	width: 100%;
	color: white;
	background-color: black;
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
}

.greentxt {
	color: limegreen;
	font-weight: bolder;
}
/* Nav Bar styling */

nav a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 50px;
  overflow: hidden;
  background-color: darkolivegreen;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 80px;
  text-decoration: none;
}
/* Change the link color to dark green on hover */
nav li a:hover {
  background-color:#333302;
}